In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Connect to PostgreSQL
engine = create_engine('postgresql://postgres:postgres@localhost:5433/chinook')

# Load all tables
album = pd.read_sql_query("SELECT * FROM album", engine)
artist = pd.read_sql_query("SELECT * FROM artist", engine)
customer = pd.read_sql_query("SELECT * FROM customer", engine)
employee = pd.read_sql_query("SELECT * FROM employee", engine)
genre = pd.read_sql_query("SELECT * FROM genre", engine)
invoice = pd.read_sql_query("SELECT * FROM invoice", engine)
invoice_line = pd.read_sql_query("SELECT * FROM invoice_line", engine)
media_type = pd.read_sql_query("SELECT * FROM media_type", engine)
playlist = pd.read_sql_query("SELECT * FROM playlist", engine)
playlist_track = pd.read_sql_query("SELECT * FROM playlist_track", engine)
track = pd.read_sql_query("SELECT * FROM track", engine)

print("✓ All PostgreSQL tables loaded")

✓ All PostgreSQL tables loaded

### Find the top 5 customers by total amount spent. Show their full name (first and last), country, and total amount spent. Order by total spent descending.

In [2]:
# 1. if overlapping columns, .join requires suffix whereas merge doesn't
# 2. No need for all the cols in .groupby(["CustomerId", "FirstName", "LastName", "Country"], as_index=False)
# 3. Different .agg syntaxes:
# .agg({
#     "FirstName": "first",
#     "LastName": "first",
#     "Country": "first",
#     "Total": lambda x: round(sum(x), 2)
# })
# OR
# .agg(
#     FirstName=("FirstName", "first"),
#     LastName=("LastName", "first"),
#     Country=("Country", "first"),
#     total=("Total", lambda x: round(sum(x), 2))
# )
(
    customer.merge(
        invoice,
        on="customer_id",
        how="inner"
    ).groupby("customer_id", as_index=False)
    .agg({
        "first_name": "first",
        "last_name": "first",
        "country": "first",
        "total": lambda x: round(sum(x), 2)
    })
    .sort_values(by="total", ascending=False)
    .reset_index(drop=True)
    .head(5)
)

   customer_id first_name   last_name         country  total
0            6     Helena        Holý  Czech Republic  49.62
1           26    Richard  Cunningham             USA  47.62
2           57       Luis       Rojas           Chile  46.62
3           45   Ladislav      Kovács         Hungary  45.62
4           46       Hugh    O'Reilly         Ireland  45.62

### Find all tracks that are longer than the average track length in their genre. Show the track name, genre name, track length (in minutes), and the average length for that genre (in minutes). Order by track length and then by genre descending.

In [3]:
# 1. ("milliseconds", "mean") is faster than lambda tl: np.mean(tl)
# 2. Refer to cell below
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .groupby("genre_id")
    .agg(
        genre_name=("name_g", "first"),
        avg_track_length_ms=(
            "milliseconds",
            lambda tl: np.mean(tl),
        )
    )
    .merge(track, on="genre_id")
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: x["milliseconds"] / 60_000,
        avg_track_length_min_genre=lambda x: x["avg_track_length_ms"] / 60_000,
    )
    .rename(columns={"name": "track_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.115883,35.750684
1,Through a Looking Glass,Drama,84.813967,42.921396
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.338217,48.529717
3,The Man With Nine Lives,Sci Fi & Fantasy,49.283300,48.529717
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.268017,48.529717
...,...,...,...,...
1534,Carol,Rock And Roll,2.397167,2.244058
1535,Roadrunner,Rock And Roll,2.393250,2.244058
1536,Rock 'N' Roll Music,Rock And Roll,2.365383,2.244058
1537,C'Mon Everybody,Rock And Roll,2.336650,2.244058
1538,Please Mr. Postman,Rock And Roll,2.293983,2.244058

In [4]:
# 2.cont: double merge can be avoided using .transform
# .assign(
#    genre_name=lambda x: x["name_g"],
#    avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
# )
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
    )
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        avg_track_length_min_genre=lambda x: round(x["avg_track_length_ms"] / 60_000, 2),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.12,35.75
1,Through a Looking Glass,Drama,84.81,42.92
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.34,48.53
3,The Man With Nine Lives,Sci Fi & Fantasy,49.28,48.53
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.27,48.53
...,...,...,...,...
1534,Carol,Rock And Roll,2.40,2.24
1535,Roadrunner,Rock And Roll,2.39,2.24
1536,Rock 'N' Roll Music,Rock And Roll,2.37,2.24
1537,C'Mon Everybody,Rock And Roll,2.34,2.24
1538,Please Mr. Postman,Rock And Roll,2.29,2.24

## 2. Window Functions

### 2.1 For each track, show its name, genre name, length in minutes, and how it ranks by length within its genre (longest = rank 1). Also include the length of the previous track in the same genre when ordered by length descending.

The result should have columns:

- track_name
- genre_name
- track_length_min
- rank_in_genre (1 = longest track in that genre)
- previous_track_length_min (length of the next-longest track in same genre, or NULL if it's the longest)

Order by genre name, then by rank.

In [5]:
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .sort_values(by=["genre_id", "milliseconds"], ascending=[True, False])
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        rank_in_genre=lambda x: x.groupby("genre_id")["milliseconds"].rank(ascending=False),
        previous_track_length=lambda x: x.groupby("genre_id")["track_length_min"].shift(1),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "rank_in_genre", "previous_track_length"]]
    .reset_index(drop=True)
    .astype({"rank_in_genre": "int64"})
)

,track_name,genre_name,track_length_min,rank_in_genre,previous_track_length
0,Dazed And Confused,Rock,26.87,1,NaN
1,Space Truckin',Rock,19.93,2,26.87
2,Dazed And Confused,Rock,18.61,3,19.93
3,We've Got To Get Together/Jingo,Rock,17.83,4,18.61
4,Funky Piano,Rock,15.58,5,17.83
...,...,...,...,...,...
3498,"SCRIABIN: Prelude in B Major, Op. 11, No. 11",Classical,1.69,71,1.84
3499,"Lamentations of Jeremiah, First Set \ Incipit ...",Classical,1.15,72,1.69
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,1.11,73,1.15
3501,"Étude 1, In C Major - Preludio (Presto) - Liszt",Classical,0.86,74,1.11
3502,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",Opera,2.91,1,NaN

### 2.2 Calculate a running total of sales for each customer. Show customer first name, last name, invoice date, invoice total, and running total ordered by customer and date.

In [ ]:
# Could also do: running_total=lambda x: x.groupby("customer_id")["total"].cumsum().round(2)
(
    customer
    .merge(invoice, on ="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        running_total=lambda x: round(x.groupby("customer_id")["total"].transform("cumsum"), 2)
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "running_total"]]
    .reset_index(drop=True)
)

    first_name   last_name invoice_date  invoice_total  running_total
0         Luís   Gonçalves   2022-03-11           3.98           3.98
1         Luís   Gonçalves   2022-06-13           3.96           7.94
2         Luís   Gonçalves   2022-09-15           5.94          13.88
3         Luís   Gonçalves   2023-05-06           0.99          14.87
4         Luís   Gonçalves   2024-10-27           1.98          16.85
..         ...         ...          ...            ...            ...
407       Puja  Srivastava   2021-07-08           5.94           9.90
408       Puja  Srivastava   2022-02-26           1.99          11.89
409       Puja  Srivastava   2023-08-20           1.98          13.87
410       Puja  Srivastava   2023-09-30          13.86          27.73
411       Puja  Srivastava   2024-05-30           8.91          36.64

[412 rows x 5 columns]

### 2.3 For each genre, rank tracks by their length (milliseconds) in descending order (longest = rank 1). Show genre name, track name, milliseconds, and rank within genre.

In [33]:
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        rank=lambda x: x.groupby("genre_id")["milliseconds"].rank(method='dense', ascending=False).astype(int)
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "milliseconds", "rank"]]
    .sort_values(by=["milliseconds"], ascending=False)
)

                       track_name          genre_name  milliseconds  rank
2819       Occupation / Precipice            TV Shows       5286953     1
3223      Through a Looking Glass               Drama       5088838     1
3243  Greetings from Earth, Pt. 1    Sci Fi & Fantasy       2960293     1
3241      The Man With Nine Lives    Sci Fi & Fantasy       2956998     2
3226  Battlestar Galactica, Pt. 2    Sci Fi & Fantasy       2956081     3
...                           ...                 ...           ...   ...
3303                 Commercial 1         Hip Hop/Rap          7941    35
178                         Oprah  Alternative & Punk          6635   319
170                   A Statistic  Alternative & Punk          6373   320
168                    Now Sports  Alternative & Punk          4884   321
2461     É Uma Partida De Futebol                Rock          1071  1227

[3503 rows x 4 columns]

### 2.4 For each track, show the track name, its price (unit_price), the average price in its genre, and the difference from the genre average (track price - genre average). Round the average and difference to 2 decimal places.

In [ ]:
# instead of .mean(), I should have used .transform("mean"), so that it broadcasts
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        avg_price=lambda x: x.groupby("genre_id")["unit_price"].transform("mean").round(2),
        price_diff=lambda x: round(x["unit_price"] - x["avg_price"], 2)
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "unit_price", "avg_price", "price_diff"]]
    .sort_values(by="price_diff", ascending=False)
)

,track_name,genre_name,unit_price,avg_price,price_diff
0,For Those About To Rock (We Salute You),Rock,0.99,0.99,0.0
1,Balls to the Wall,Rock,0.99,0.99,0.0
2,Fast As a Shark,Rock,0.99,0.99,0.0
3,Restless and Wild,Rock,0.99,0.99,0.0
4,Princess of the Dawn,Rock,0.99,0.99,0.0
...,...,...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Classical,0.99,0.99,0.0
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Classical,0.99,0.99,0.0
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,0.99,0.99,0.0
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Classical,0.99,0.99,0.0
3502,Koyaanisqatsi,Soundtrack,0.99,0.99,0.0

### 2.5 For each customer, show their invoices with the previous and next invoice amounts. Display: customer first name, last name, invoice date, the invoice total, the previous invoice total for that same customer, and the next invoice total for that same customer. Sort by customer and date.

In [ ]:
# shift(1) is prev, not -1
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        previous_total=lambda x: x.groupby("customer_id")["total"].shift(1),
        next_total=lambda x: x.groupby("customer_id")["total"].shift(-1)
    )
    .rename(columns={"total": "current_total"})
    [["first_name", "last_name", "invoice_date", "current_total", "previous_total", "next_total"]]
)

,first_name,last_name,invoice_date,current_total,previous_total,next_total
0,Luís,Gonçalves,2022-03-11,3.98,NaN,3.96
1,Luís,Gonçalves,2022-06-13,3.96,3.98,5.94
2,Luís,Gonçalves,2022-09-15,5.94,3.96,0.99
3,Luís,Gonçalves,2023-05-06,0.99,5.94,1.98
4,Luís,Gonçalves,2024-10-27,1.98,0.99,13.86
...,...,...,...,...,...,...
407,Puja,Srivastava,2021-07-08,5.94,3.96,1.99
408,Puja,Srivastava,2022-02-26,1.99,5.94,1.98
409,Puja,Srivastava,2023-08-20,1.98,1.99,13.86
410,Puja,Srivastava,2023-09-30,13.86,1.98,8.91
411,Puja,Srivastava,2024-05-30,8.91,13.86,NaN

### 2.6 Calculate a 3-invoice moving average of invoice totals for each customer. Show customer first name, last name, invoice date, invoice total, and the 3-invoice moving average (rounded to 2 decimals). Sort by customer and date.

In [ ]:
# # we get a multi index level 0; customer_id, level 1; original index
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        moving_avg=lambda x: (
            x.groupby("customer_id")["total"]
            .rolling(window=3).mean()
            .round(2)
            .reset_index(level=0, drop=True)
        )
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "moving_avg"]]
)

    first_name   last_name invoice_date  invoice_total  moving_avg
0         Luís   Gonçalves   2022-03-11           3.98         NaN
1         Luís   Gonçalves   2022-06-13           3.96         NaN
2         Luís   Gonçalves   2022-09-15           5.94        4.63
3         Luís   Gonçalves   2023-05-06           0.99        3.63
4         Luís   Gonçalves   2024-10-27           1.98        2.97
..         ...         ...          ...            ...         ...
407       Puja  Srivastava   2021-07-08           5.94         NaN
408       Puja  Srivastava   2022-02-26           1.99        3.96
409       Puja  Srivastava   2023-08-20           1.98        3.30
410       Puja  Srivastava   2023-09-30          13.86        5.94
411       Puja  Srivastava   2024-05-30           8.91        8.25

[412 rows x 5 columns]

### 2.6 For each customer, calculate the percent change in invoice totals from one invoice to the next. Show customer first name, last name, invoice date, invoice total, and the percent change from the previous invoice (as a percentage, rounded to 2 decimals). Sort by customer and date.

In [81]:
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        pct_change=lambda x: (x.groupby("customer_id")["total"].pct_change() * 100).round(2)
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "pct_change"]]
)

    first_name   last_name invoice_date  invoice_total  pct_change
0         Luís   Gonçalves   2022-03-11           3.98         NaN
1         Luís   Gonçalves   2022-06-13           3.96       -0.50
2         Luís   Gonçalves   2022-09-15           5.94       50.00
3         Luís   Gonçalves   2023-05-06           0.99      -83.33
4         Luís   Gonçalves   2024-10-27           1.98      100.00
..         ...         ...          ...            ...         ...
407       Puja  Srivastava   2021-07-08           5.94       50.00
408       Puja  Srivastava   2022-02-26           1.99      -66.50
409       Puja  Srivastava   2023-08-20           1.98       -0.50
410       Puja  Srivastava   2023-09-30          13.86      600.00
411       Puja  Srivastava   2024-05-30           8.91      -35.71

[412 rows x 5 columns]

In [ ]:
def maximumXorProduct(a: int, b: int, n: int) -> int:
    MOD = 10 ** 9 + 7           # Large prime modulus for the answer
    mask = (1 << n) - 1         # This creates a number with the lowest n bits set to 1
                                # e.g., if n=4, mask is 0b1111 (or 15)

    differing = []            # This list will store the indices of bits where a and b differ

    a0 = a & mask             # Keep only the lowest n bits of a (if a has more than n bits)
    b0 = b & mask             # Same for b

    # Check for each bit position in n bits if a and b differ
    for i in range(n):
        abit = (a0 >> i) & 1  # Take the ith bit of a (right shift i places, AND with 1)
        bbit = (b0 >> i) & 1  # Take the ith bit of b
        if abit != bbit:
            differing.append(i)  # Store which positions differ

    maxval = 0  # This will store the maximum product found

    # For each way of choosing bits at positions where a and b differ (try 0/1 for each)
    for k in range(1 << len(differing)):  # 2^(number of differing bits) combinations
        x = 0
        for i in range(n):
            abit = (a0 >> i) & 1
            bbit = (b0 >> i) & 1
            if abit == bbit:
                # If bits are same, flip it for both to maximize
                bit = 1 - abit
            else:
                # If bits differ, decide based on current combination k
                idx = differing.index(i) if i in differing else -1
                if idx != -1:
                    bit = (k >> idx) & 1  # Get the bit value for ith differing bit from k
                else:
                    bit = 0  # fallback, shouldn't happen here
            x |= (bit << i)   # Set the ith bit of x to 'bit' (bitwise OR)

        ax = a0 ^ x          # XOR x with a: flips bits where x has 1
        bx = b0 ^ x          # XOR x with b
        maxval = max(maxval, ax * bx)  # update max product

    return maxval % MOD      # Return the answer modulo 10^9 + 7