In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Connect to PostgreSQL
engine = create_engine('postgresql://postgres:postgres@localhost:5433/chinook')

# Load all tables
album = pd.read_sql_query("SELECT * FROM album", engine)
artist = pd.read_sql_query("SELECT * FROM artist", engine)
customer = pd.read_sql_query("SELECT * FROM customer", engine)
employee = pd.read_sql_query("SELECT * FROM employee", engine)
genre = pd.read_sql_query("SELECT * FROM genre", engine)
invoice = pd.read_sql_query("SELECT * FROM invoice", engine)
invoice_item = pd.read_sql_query("SELECT * FROM invoice_line", engine)
media_type = pd.read_sql_query("SELECT * FROM media_type", engine)
playlist = pd.read_sql_query("SELECT * FROM playlist", engine)
playlist_track = pd.read_sql_query("SELECT * FROM playlist_track", engine)
track = pd.read_sql_query("SELECT * FROM track", engine)

print("✓ All PostgreSQL tables loaded")

✓ All PostgreSQL tables loaded

### Find the top 5 customers by total amount spent. Show their full name (first and last), country, and total amount spent. Order by total spent descending.

In [2]:
# 1. if overlapping columns, .join requires suffix whereas merge doesn't
# 2. No need for all the cols in .groupby(["CustomerId", "FirstName", "LastName", "Country"], as_index=False)
# 3. Different .agg syntaxes:
# .agg({
#     "FirstName": "first",
#     "LastName": "first",
#     "Country": "first",
#     "Total": lambda x: round(sum(x), 2)
# })
# OR
# .agg(
#     FirstName=("FirstName", "first"),
#     LastName=("LastName", "first"),
#     Country=("Country", "first"),
#     total=("Total", lambda x: round(sum(x), 2))
# )
(
    customer.merge(
        invoice,
        on="customer_id",
        how="inner"
    ).groupby("customer_id", as_index=False)
    .agg({
        "first_name": "first",
        "last_name": "first",
        "country": "first",
        "total": lambda x: round(sum(x), 2)
    })
    .sort_values(by="total", ascending=False)
    .reset_index(drop=True)
    .head(5)
)

   customer_id first_name   last_name         country  total
0            6     Helena        Holý  Czech Republic  49.62
1           26    Richard  Cunningham             USA  47.62
2           57       Luis       Rojas           Chile  46.62
3           45   Ladislav      Kovács         Hungary  45.62
4           46       Hugh    O'Reilly         Ireland  45.62

### Find all tracks that are longer than the average track length in their genre. Show the track name, genre name, track length (in minutes), and the average length for that genre (in minutes). Order by track length and then by genre descending.

In [3]:
# 1. ("milliseconds", "mean") is faster than lambda tl: np.mean(tl)
# 2. Refer to cell below
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .groupby("genre_id")
    .agg(
        genre_name=("name_g", "first"),
        avg_track_length_ms=(
            "milliseconds",
            lambda tl: np.mean(tl),
        )
    )
    .merge(track, on="genre_id")
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: x["milliseconds"] / 60_000,
        avg_track_length_min_genre=lambda x: x["avg_track_length_ms"] / 60_000,
    )
    .rename(columns={"name": "track_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.115883,35.750684
1,Through a Looking Glass,Drama,84.813967,42.921396
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.338217,48.529717
3,The Man With Nine Lives,Sci Fi & Fantasy,49.283300,48.529717
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.268017,48.529717
...,...,...,...,...
1534,Carol,Rock And Roll,2.397167,2.244058
1535,Roadrunner,Rock And Roll,2.393250,2.244058
1536,Rock 'N' Roll Music,Rock And Roll,2.365383,2.244058
1537,C'Mon Everybody,Rock And Roll,2.336650,2.244058
1538,Please Mr. Postman,Rock And Roll,2.293983,2.244058

In [4]:
# 2.cont: double merge can be avoided using .transform
# .assign(
#    genre_name=lambda x: x["name_g"],
#    avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
# )
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
    )
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        avg_track_length_min_genre=lambda x: round(x["avg_track_length_ms"] / 60_000, 2),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.12,35.75
1,Through a Looking Glass,Drama,84.81,42.92
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.34,48.53
3,The Man With Nine Lives,Sci Fi & Fantasy,49.28,48.53
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.27,48.53
...,...,...,...,...
1534,Carol,Rock And Roll,2.40,2.24
1535,Roadrunner,Rock And Roll,2.39,2.24
1536,Rock 'N' Roll Music,Rock And Roll,2.37,2.24
1537,C'Mon Everybody,Rock And Roll,2.34,2.24
1538,Please Mr. Postman,Rock And Roll,2.29,2.24

### For each track, show its name, genre name, length in minutes, and how it ranks by length within its genre (longest = rank 1). Also include the length of the previous track in the same genre when ordered by length descending.

Assume you're working with:

1. track table, columns:
   - track_id
   - name
   - genre_id
   - milliseconds
2. genre table, columns:
   - genre_id
   - name

The result should have columns:

- track_name
- genre_name
- track_length_min
- rank_in_genre (1 = longest track in that genre)
- previous_track_length_min (length of the next-longest track in same genre, or NULL if it's the longest)

Order by genre name, then by rank.

In [16]:
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .sort_values(by=["genre_id", "milliseconds"], ascending=[True, False])
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        rank_in_genre=lambda x: x.groupby("genre_id")["milliseconds"].rank(ascending=False),
        previous_track_length=lambda x: x.groupby("genre_id")["track_length_min"].shift(1),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "rank_in_genre", "previous_track_length"]]
    .reset_index(drop=True)
    .astype({"rank_in_genre": "int64"})
)

,track_name,genre_name,track_length_min,rank_in_genre,previous_track_length
0,Dazed And Confused,Rock,26.87,1,NaN
1,Space Truckin',Rock,19.93,2,26.87
2,Dazed And Confused,Rock,18.61,3,19.93
3,We've Got To Get Together/Jingo,Rock,17.83,4,18.61
4,Funky Piano,Rock,15.58,5,17.83
...,...,...,...,...,...
3498,"SCRIABIN: Prelude in B Major, Op. 11, No. 11",Classical,1.69,71,1.84
3499,"Lamentations of Jeremiah, First Set \ Incipit ...",Classical,1.15,72,1.69
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,1.11,73,1.15
3501,"Étude 1, In C Major - Preludio (Presto) - Liszt",Classical,0.86,74,1.11
3502,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",Opera,2.91,1,NaN