In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Connect to PostgreSQL
engine = create_engine('postgresql://postgres:postgres@localhost:5433/chinook')

# Load all tables
album = pd.read_sql_query("SELECT * FROM album", engine)
artist = pd.read_sql_query("SELECT * FROM artist", engine)
customer = pd.read_sql_query("SELECT * FROM customer", engine)
employee = pd.read_sql_query("SELECT * FROM employee", engine)
genre = pd.read_sql_query("SELECT * FROM genre", engine)
invoice = pd.read_sql_query("SELECT * FROM invoice", engine)
invoice_line = pd.read_sql_query("SELECT * FROM invoice_line", engine)
media_type = pd.read_sql_query("SELECT * FROM media_type", engine)
playlist = pd.read_sql_query("SELECT * FROM playlist", engine)
playlist_track = pd.read_sql_query("SELECT * FROM playlist_track", engine)
track = pd.read_sql_query("SELECT * FROM track", engine)

print("✓ All PostgreSQL tables loaded")

✓ All PostgreSQL tables loaded

## 1. Joins and Aggregations

### 1.1 Find the top 5 customers by total amount spent. Show their full name (first and last), country, and total amount spent. Order by total spent descending.

In [2]:
# 1. if overlapping columns, .join requires suffix whereas merge doesn't
# 2. No need for all the cols in .groupby(["CustomerId", "FirstName", "LastName", "Country"], as_index=False)
# 3. Different .agg syntaxes:
# .agg({
#     "FirstName": "first",
#     "LastName": "first",
#     "Country": "first",
#     "Total": lambda x: round(sum(x), 2)
# })
# OR
# .agg(
#     FirstName=("FirstName", "first"),
#     LastName=("LastName", "first"),
#     Country=("Country", "first"),
#     total=("Total", lambda x: round(sum(x), 2))
# )
(
    customer.merge(
        invoice,
        on="customer_id",
        how="inner"
    ).groupby("customer_id", as_index=False)
    .agg({
        "first_name": "first",
        "last_name": "first",
        "country": "first",
        "total": lambda x: round(sum(x), 2)
    })
    .sort_values(by="total", ascending=False)
    .reset_index(drop=True)
    .head(5)
)

   customer_id first_name   last_name         country  total
0            6     Helena        Holý  Czech Republic  49.62
1           26    Richard  Cunningham             USA  47.62
2           57       Luis       Rojas           Chile  46.62
3           45   Ladislav      Kovács         Hungary  45.62
4           46       Hugh    O'Reilly         Ireland  45.62

### 1.2 Find all tracks that are longer than the average track length in their genre. Show the track name, genre name, track length (in minutes), and the average length for that genre (in minutes). Order by track length and then by genre descending.

In [3]:
# 1. ("milliseconds", "mean") is faster than lambda tl: np.mean(tl)
# 2. Refer to cell below
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .groupby("genre_id")
    .agg(
        genre_name=("name_g", "first"),
        avg_track_length_ms=(
            "milliseconds",
            lambda tl: np.mean(tl),
        )
    )
    .merge(track, on="genre_id")
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: x["milliseconds"] / 60_000,
        avg_track_length_min_genre=lambda x: x["avg_track_length_ms"] / 60_000,
    )
    .rename(columns={"name": "track_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.115883,35.750684
1,Through a Looking Glass,Drama,84.813967,42.921396
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.338217,48.529717
3,The Man With Nine Lives,Sci Fi & Fantasy,49.283300,48.529717
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.268017,48.529717
...,...,...,...,...
1534,Carol,Rock And Roll,2.397167,2.244058
1535,Roadrunner,Rock And Roll,2.393250,2.244058
1536,Rock 'N' Roll Music,Rock And Roll,2.365383,2.244058
1537,C'Mon Everybody,Rock And Roll,2.336650,2.244058
1538,Please Mr. Postman,Rock And Roll,2.293983,2.244058

In [4]:
# 2.cont: double merge can be avoided using .transform
# .assign(
#    genre_name=lambda x: x["name_g"],
#    avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
# )
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        avg_track_length_ms=lambda x: x.groupby("genre_id")["milliseconds"].transform("mean")
    )
    .loc[lambda x: x["milliseconds"] > x["avg_track_length_ms"]]
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        avg_track_length_min_genre=lambda x: round(x["avg_track_length_ms"] / 60_000, 2),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "avg_track_length_min_genre"]]
    .sort_values(by=["track_length_min", "genre_name"], ascending=False)
    .reset_index(drop=True)
)

,track_name,genre_name,track_length_min,avg_track_length_min_genre
0,Occupation / Precipice,TV Shows,88.12,35.75
1,Through a Looking Glass,Drama,84.81,42.92
2,"Greetings from Earth, Pt. 1",Sci Fi & Fantasy,49.34,48.53
3,The Man With Nine Lives,Sci Fi & Fantasy,49.28,48.53
4,"Battlestar Galactica, Pt. 2",Sci Fi & Fantasy,49.27,48.53
...,...,...,...,...
1534,Carol,Rock And Roll,2.40,2.24
1535,Roadrunner,Rock And Roll,2.39,2.24
1536,Rock 'N' Roll Music,Rock And Roll,2.37,2.24
1537,C'Mon Everybody,Rock And Roll,2.34,2.24
1538,Please Mr. Postman,Rock And Roll,2.29,2.24

## 2. Window Functions

### 2.1 For each track, show its name, genre name, length in minutes, and how it ranks by length within its genre (longest = rank 1). Also include the length of the previous track in the same genre when ordered by length descending.

The result should have columns:

- track_name
- genre_name
- track_length_min
- rank_in_genre (1 = longest track in that genre)
- previous_track_length_min (length of the next-longest track in same genre, or NULL if it's the longest)

Order by genre name, then by rank.

In [5]:
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .sort_values(by=["genre_id", "milliseconds"], ascending=[True, False])
    .assign(
        track_length_min=lambda x: round(x["milliseconds"] / 60_000, 2),
        rank_in_genre=lambda x: x.groupby("genre_id")["milliseconds"].rank(ascending=False),
        previous_track_length=lambda x: x.groupby("genre_id")["track_length_min"].shift(1),
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "track_length_min", "rank_in_genre", "previous_track_length"]]
    .reset_index(drop=True)
    .astype({"rank_in_genre": "int64"})
)

,track_name,genre_name,track_length_min,rank_in_genre,previous_track_length
0,Dazed And Confused,Rock,26.87,1,NaN
1,Space Truckin',Rock,19.93,2,26.87
2,Dazed And Confused,Rock,18.61,3,19.93
3,We've Got To Get Together/Jingo,Rock,17.83,4,18.61
4,Funky Piano,Rock,15.58,5,17.83
...,...,...,...,...,...
3498,"SCRIABIN: Prelude in B Major, Op. 11, No. 11",Classical,1.69,71,1.84
3499,"Lamentations of Jeremiah, First Set \ Incipit ...",Classical,1.15,72,1.69
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,1.11,73,1.15
3501,"Étude 1, In C Major - Preludio (Presto) - Liszt",Classical,0.86,74,1.11
3502,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",Opera,2.91,1,NaN

### 2.2 For each genre, rank tracks by their length (milliseconds) in descending order (longest = rank 1). Show genre name, track name, milliseconds, and rank within genre.

The result should have columns:

- track_name
- genre_name
- milliseconds
- rank_in_genre

Order by genre_name, then rank ascending.

In [6]:
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        rank=lambda x: x.groupby("genre_id")["milliseconds"].rank(method='dense', ascending=False).astype(int)
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "milliseconds", "rank"]]
    .sort_values(by=["milliseconds"], ascending=False)
)

                       track_name          genre_name  milliseconds  rank
2819       Occupation / Precipice            TV Shows       5286953     1
3223      Through a Looking Glass               Drama       5088838     1
3243  Greetings from Earth, Pt. 1    Sci Fi & Fantasy       2960293     1
3241      The Man With Nine Lives    Sci Fi & Fantasy       2956998     2
3226  Battlestar Galactica, Pt. 2    Sci Fi & Fantasy       2956081     3
...                           ...                 ...           ...   ...
3303                 Commercial 1         Hip Hop/Rap          7941    35
178                         Oprah  Alternative & Punk          6635   319
170                   A Statistic  Alternative & Punk          6373   320
168                    Now Sports  Alternative & Punk          4884   321
2461     É Uma Partida De Futebol                Rock          1071  1227

[3503 rows x 4 columns]

### 2.3 For each employee, show their full name, title, hire date, and a running total of how many employees had been hired up to and including that date (cumulative headcount ordered by hire date).

The result should have columns:

- full_name
- title
- hire_date
- cumulative_hires

### 2.4 Calculate a running total of sales for each customer. Show customer first name, last name, invoice date, invoice total, and running total ordered by customer and date.

In [7]:
# Could also do: running_total=lambda x: x.groupby("customer_id")["total"].cumsum().round(2)
(
    customer
    .merge(invoice, on ="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        running_total=lambda x: round(x.groupby("customer_id")["total"].transform("cumsum"), 2)
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "running_total"]]
    .reset_index(drop=True)
)

    first_name   last_name invoice_date  invoice_total  running_total
0         Luís   Gonçalves   2022-03-11           3.98           3.98
1         Luís   Gonçalves   2022-06-13           3.96           7.94
2         Luís   Gonçalves   2022-09-15           5.94          13.88
3         Luís   Gonçalves   2023-05-06           0.99          14.87
4         Luís   Gonçalves   2024-10-27           1.98          16.85
..         ...         ...          ...            ...            ...
407       Puja  Srivastava   2021-07-08           5.94           9.90
408       Puja  Srivastava   2022-02-26           1.99          11.89
409       Puja  Srivastava   2023-08-20           1.98          13.87
410       Puja  Srivastava   2023-09-30          13.86          27.73
411       Puja  Srivastava   2024-05-30           8.91          36.64

[412 rows x 5 columns]

### 2.5 For each track sale (invoice line), show the track name, genre name, the sale amount, and the difference in sale amount compared to the previous sale of a track in the same genre (ordered by invoice date).

The result should have columns:

- track_name
- genre_name
- invoice_date
- sale_amount
- diff_from_previous (sale_amount minus the previous sale amount in that genre, or NaN if first)

### 2.6 For each customer, show their full name, country, total amount spent, and how they rank within their country by total spent (1 = highest spender in that country).

The result should have columns:

- full_name
- country
- total_spent
- rank_in_country

### 2.7 For each track, show the track name, its price (unit_price), the average price in its genre, and the difference from the genre average (track price - genre average). Round the average and difference to 2 decimal places.

In [8]:
# instead of .mean(), I should have used .transform("mean"), so that it broadcasts
(
    track
    .merge(genre, on="genre_id", suffixes=["_t", "_g"])
    .assign(
        avg_price=lambda x: x.groupby("genre_id")["unit_price"].transform("mean").round(2),
        price_diff=lambda x: round(x["unit_price"] - x["avg_price"], 2)
    )
    .rename(columns={"name_t": "track_name", "name_g": "genre_name"})
    [["track_name", "genre_name", "unit_price", "avg_price", "price_diff"]]
    .sort_values(by="price_diff", ascending=False)
)

,track_name,genre_name,unit_price,avg_price,price_diff
0,For Those About To Rock (We Salute You),Rock,0.99,0.99,0.0
1,Balls to the Wall,Rock,0.99,0.99,0.0
2,Fast As a Shark,Rock,0.99,0.99,0.0
3,Restless and Wild,Rock,0.99,0.99,0.0
4,Princess of the Dawn,Rock,0.99,0.99,0.0
...,...,...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Classical,0.99,0.99,0.0
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Classical,0.99,0.99,0.0
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,0.99,0.99,0.0
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Classical,0.99,0.99,0.0
3502,Koyaanisqatsi,Soundtrack,0.99,0.99,0.0

### 2.8 For each customer, show their invoices with the previous and next invoice amounts. Display: customer first name, last name, invoice date, the invoice total, the previous invoice total for that same customer, and the next invoice total for that same customer. Sort by customer and date.

In [9]:
# shift(1) is prev, not -1
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        previous_total=lambda x: x.groupby("customer_id")["total"].shift(1),
        next_total=lambda x: x.groupby("customer_id")["total"].shift(-1)
    )
    .rename(columns={"total": "current_total"})
    [["first_name", "last_name", "invoice_date", "current_total", "previous_total", "next_total"]]
)

,first_name,last_name,invoice_date,current_total,previous_total,next_total
0,Luís,Gonçalves,2022-03-11,3.98,NaN,3.96
1,Luís,Gonçalves,2022-06-13,3.96,3.98,5.94
2,Luís,Gonçalves,2022-09-15,5.94,3.96,0.99
3,Luís,Gonçalves,2023-05-06,0.99,5.94,1.98
4,Luís,Gonçalves,2024-10-27,1.98,0.99,13.86
...,...,...,...,...,...,...
407,Puja,Srivastava,2021-07-08,5.94,3.96,1.99
408,Puja,Srivastava,2022-02-26,1.99,5.94,1.98
409,Puja,Srivastava,2023-08-20,1.98,1.99,13.86
410,Puja,Srivastava,2023-09-30,13.86,1.98,8.91
411,Puja,Srivastava,2024-05-30,8.91,13.86,NaN

### 2.9 Calculate a 3-invoice moving average of invoice totals for each customer. Show customer first name, last name, invoice date, invoice total, and the 3-invoice moving average (rounded to 2 decimals). Sort by customer and date.

In [10]:
# # we get a multi index level 0; customer_id, level 1; original index
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        moving_avg=lambda x: (
            x.groupby("customer_id")["total"]
            .rolling(window=3).mean()
            .round(2)
            .reset_index(level=0, drop=True)
        )
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "moving_avg"]]
)

    first_name   last_name invoice_date  invoice_total  moving_avg
0         Luís   Gonçalves   2022-03-11           3.98         NaN
1         Luís   Gonçalves   2022-06-13           3.96         NaN
2         Luís   Gonçalves   2022-09-15           5.94        4.63
3         Luís   Gonçalves   2023-05-06           0.99        3.63
4         Luís   Gonçalves   2024-10-27           1.98        2.97
..         ...         ...          ...            ...         ...
407       Puja  Srivastava   2021-07-08           5.94         NaN
408       Puja  Srivastava   2022-02-26           1.99        3.96
409       Puja  Srivastava   2023-08-20           1.98        3.30
410       Puja  Srivastava   2023-09-30          13.86        5.94
411       Puja  Srivastava   2024-05-30           8.91        8.25

[412 rows x 5 columns]

### 2.10 For each customer, calculate the percent change in invoice totals from one invoice to the next. Show customer first name, last name, invoice date, invoice total, and the percent change from the previous invoice (as a percentage, rounded to 2 decimals). Sort by customer and date.

In [11]:
(
    customer
    .merge(invoice, on="customer_id")
    .sort_values(by=["customer_id", "invoice_date"])
    .assign(
        pct_change=lambda x: (x.groupby("customer_id")["total"].pct_change() * 100).round(2)
    )
    .rename(columns={"total": "invoice_total"})
    [["first_name", "last_name", "invoice_date", "invoice_total", "pct_change"]]
)

    first_name   last_name invoice_date  invoice_total  pct_change
0         Luís   Gonçalves   2022-03-11           3.98         NaN
1         Luís   Gonçalves   2022-06-13           3.96       -0.50
2         Luís   Gonçalves   2022-09-15           5.94       50.00
3         Luís   Gonçalves   2023-05-06           0.99      -83.33
4         Luís   Gonçalves   2024-10-27           1.98      100.00
..         ...         ...          ...            ...         ...
407       Puja  Srivastava   2021-07-08           5.94       50.00
408       Puja  Srivastava   2022-02-26           1.99      -66.50
409       Puja  Srivastava   2023-08-20           1.98       -0.50
410       Puja  Srivastava   2023-09-30          13.86      600.00
411       Puja  Srivastava   2024-05-30           8.91      -35.71

[412 rows x 5 columns]

## 3. CTEs

### 3.1 Find the top selling artist (by total revenue) for each genre. Show the genre name, artist name, and their total revenue in that genre.

The result should have columns:

- genre_name
- artist_name
- total_revenue

Order by genre_name ascending.

In [47]:
(
    track
    .merge(album, on="album_id", suffixes=["_track", "_album"])
    .merge(genre, on="genre_id", suffixes=["_track", "_genre"])
    .merge(artist, on="artist_id", suffixes=["_track", "_artist"])
    .merge(invoice_line, on="track_id", suffixes=["_track", "_invoice_line"])
    .assign(total_price=lambda x: x["unit_price_invoice_line"] * x["quantity"])
    .groupby(["name_genre", "name"])
    ["total_price"].sum()
    .rename("total_revenue")
    .reset_index()
    .sort_values(["name_genre", "total_revenue"], ascending=[True, False])
    .drop_duplicates(subset=["name_genre"], keep="first")
    .reset_index(drop=True)
)

,name_genre,name,total_revenue
0,Alternative,Audioslave,4.95
1,Alternative & Punk,Titãs,33.66
2,Blues,Eric Clapton,26.73
3,Bossa Nova,Toquinho & Vinícius,14.85
4,Classical,Michael Tilson Thomas & San Francisco Symphony,2.97
5,Comedy,The Office,17.91
6,Drama,Lost,35.82
7,Easy Listening,Frank Sinatra,9.90
8,Electronica/Dance,O Rappa,6.93
9,Heavy Metal,Iron Maiden,11.88
10,Hip Hop/Rap,Planet Hemp,8.91
11,Jazz,Spyro Gyra,19.80
12,Latin,Os Paralamas Do Sucesso,44.55
13,Metal,Metallica,90.09
14,Pop,U2,15.84
15,R&B/Soul,Amy Winehouse,11.88
16,Reggae,Cidade Negra,15.84
17,Rock,U2,90.09
18,Rock And Roll,BackBeat,5.94
19,Sci Fi & Fantasy,Battlestar Galactica (Classic),35.82
20,Science Fiction,Battlestar Galactica,11.94
21,Soundtrack,Passengers,8.91
22,TV Shows,Lost,45.77
23,World,João Suplicy,5.94

### 3.2 Find customers who have spent more than the average customer spend overall. Show their full name, country, total spent, and the overall average.

The result should have columns:

- full_name
- country
- total_spent
- avg_spend

Order by total_spent descending.

### 3.3 For each month, find the total revenue and the revenue from the previous month.

The result should have columns:

- year_month (formatted as YYYY-MM)
- month_total
- prev_month_total (NaN if first month)

Order by year_month ascending.

### 3.4 Find all playlists along with the number of tracks they contain, the total duration in minutes, and the number of distinct genres represented. Only include playlists that have more than 10 tracks.

The result should have columns:

- playlist_name
- track_count
- total_duration_min (rounded to 2 decimal places)
- genre_count

Order by track_count descending.

### 3.5 Calculate the year-over-year percentage growth in total sales. Show the year, the total sales for that year, and the percentage growth from the previous year, rounded to 2 decimal places.

The result should have columns:

- year
- total_sales
- pct_growth (NaN for the first year)

Order by year ascending.

In [13]:
(
    customer
    .merge(invoice, on="customer_id")
    .assign(
        year=lambda x: x["invoice_date"].dt.year,
    )
    .groupby("year", as_index=False).agg(cur_year_total=("total", "sum"))
    .assign(
        prev_year_total=lambda x: x["cur_year_total"].shift(1),
        pct_change=lambda x: round(
            (x["cur_year_total"] - x["prev_year_total"]) / x["prev_year_total"] * 100,
            2
        )
    )
)

   year  cur_year_total  prev_year_total  pct_change
0  2021          449.46              NaN         NaN
1  2022          481.45           449.46        7.12
2  2023          469.58           481.45       -2.47
3  2024          477.53           469.58        1.69
4  2025          450.58           477.53       -5.64

In [14]:
(
    customer
    .merge(invoice, on="customer_id")
    .assign(
        year=lambda x: x["invoice_date"].dt.year,
    )
    .groupby("year", as_index=False)["total"].sum()
    .assign(
        pct_change=lambda x: round(x["total"].pct_change() * 100, 2)
    )
)

   year   total  pct_change
0  2021  449.46         NaN
1  2022  481.45        7.12
2  2023  469.58       -2.47
3  2024  477.53        1.69
4  2025  450.58       -5.64

### 3.6 Calculate the 3-month moving average of total sales. Show the year-month, the total sales for that month, and the 3-month moving average. Order by date.

The result should have columns:

- year_month (formatted as YYYY-MM)
- month_total
- moving_avg_3m

Order by year_month ascending.

In [15]:
(
    invoice
    .groupby(pd.Grouper(key="invoice_date", freq="QE"))
    ["total"].sum().round(2)
    .reset_index()
    .assign(invoice_date=lambda x: x["invoice_date"].dt.date)
    .sort_values(by="invoice_date")
)

   invoice_date   total
0    2021-03-31  110.88
1    2021-06-30  112.86
2    2021-09-30  112.86
3    2021-12-31  112.86
4    2022-03-31  143.86
5    2022-06-30  112.86
6    2022-09-30  111.87
7    2022-12-31  112.86
8    2023-03-31  112.86
9    2023-06-30  144.86
10   2023-09-30  112.86
11   2023-12-31   99.00
12   2024-03-31  112.86
13   2024-06-30  112.86
14   2024-09-30  133.95
15   2024-12-31  117.86
16   2025-03-31  102.96
17   2025-06-30  108.90
18   2025-09-30  112.86
19   2025-12-31  125.86

## 4. Hierarchical Data and Self-Joins

### 4.1 For each employee, show their full name and the full name of the person they report to. If an employee does not report to anyone (i.e., they are the top manager), the manager's name should show as NaN.

In [16]:
(
    employee
    .merge(employee, left_on="reports_to", right_on="employee_id", suffixes=["_emp", "_man"], how="left")
    .assign(
        employee_name=lambda x: x["first_name_emp"] + " " + x["last_name_emp"],
        manager_name=lambda x: x["first_name_man"] + " " + x["last_name_man"]
    )
    [["employee_name", "manager_name"]]
)

      employee_name      manager_name
0      Andrew Adams               NaN
1     Nancy Edwards      Andrew Adams
2      Jane Peacock     Nancy Edwards
3     Margaret Park     Nancy Edwards
4     Steve Johnson     Nancy Edwards
5  Michael Mitchell      Andrew Adams
6       Robert King  Michael Mitchell
7    Laura Callahan  Michael Mitchell

## 5. Pivot Tables

### 5.1 Create a report that shows the total sales for each genre in each year.

In [17]:
(
    invoice_line[["track_id", "invoice_id", "unit_price", "quantity"]]
    .merge(invoice[["invoice_id", "invoice_date"]], on="invoice_id")
    .merge(track[["track_id", "genre_id"]], on="track_id")
    .merge(genre.rename(columns={"name": "genre"}), on="genre_id")
    .assign(
        year=lambda x: x["invoice_date"].dt.year,
        line_total=lambda x: x["unit_price"] * x["quantity"],
    )
    .groupby(["genre", "year"])["line_total"].sum().round(2)
    .unstack(fill_value=0)
)

year                  2021    2022    2023    2024    2025
genre
Alternative           0.00    5.94    3.96    3.96    0.00
Alternative & Punk   62.37   39.60   45.54   38.61   55.44
Blues                10.89   10.89   19.80    8.91    9.90
Bossa Nova            0.99    1.98    7.92    0.00    3.96
Classical             0.00   13.86    9.90   16.83    0.00
Comedy                0.00    3.98    1.99   11.94    0.00
Drama                 0.00   17.91   11.94   17.91    9.95
Easy Listening        2.97    1.98    2.97    0.00    1.98
Electronica/Dance     1.98    3.96    1.98    2.97    0.99
Heavy Metal           3.96    2.97    0.00    2.97    1.98
Hip Hop/Rap           1.98    2.97    3.96    3.96    3.96
Jazz                 19.80   15.84   15.84    5.94   21.78
Latin                82.17   77.22   80.19   63.36   79.20
Metal                61.38   53.46   25.74   65.34   55.44
Pop                   0.99    8.91    9.90    7.92    0.00
R&B/Soul              7.92    8.91    6.93    9.90    6.93
Reggae                5.94    6.93    7.92    5.94    2.97
Rock                178.20  155.43  156.42  162.36  174.24
Rock And Roll         0.99    1.98    0.99    1.98    0.00
Sci Fi & Fantasy      0.00    9.95   17.91   11.94    0.00
Science Fiction       0.00    3.98    3.98    1.99    1.99
Soundtrack            3.96    3.96    4.95    3.96    2.97
TV Shows              0.00   25.87   27.86   25.87   13.93
World                 2.97    2.97    0.99    2.97    2.97

In [18]:
(
    invoice_line[["track_id", "invoice_id", "unit_price", "quantity"]]
    .merge(invoice[["invoice_id", "invoice_date"]], on="invoice_id")
    .merge(track[["track_id", "genre_id"]], on="track_id")
    .merge(genre.rename(columns={"name": "genre"}), on="genre_id")
    .assign(
        year=lambda x: x["invoice_date"].dt.year,
        line_total=lambda x: x["unit_price"] * x["quantity"],
    )
    .pivot_table(
        index="genre",
        columns="year",
        values="line_total",
        aggfunc="sum",
        fill_value=0
    ).round(2)
)

year                  2021    2022    2023    2024    2025
genre
Alternative           0.00    5.94    3.96    3.96    0.00
Alternative & Punk   62.37   39.60   45.54   38.61   55.44
Blues                10.89   10.89   19.80    8.91    9.90
Bossa Nova            0.99    1.98    7.92    0.00    3.96
Classical             0.00   13.86    9.90   16.83    0.00
Comedy                0.00    3.98    1.99   11.94    0.00
Drama                 0.00   17.91   11.94   17.91    9.95
Easy Listening        2.97    1.98    2.97    0.00    1.98
Electronica/Dance     1.98    3.96    1.98    2.97    0.99
Heavy Metal           3.96    2.97    0.00    2.97    1.98
Hip Hop/Rap           1.98    2.97    3.96    3.96    3.96
Jazz                 19.80   15.84   15.84    5.94   21.78
Latin                82.17   77.22   80.19   63.36   79.20
Metal                61.38   53.46   25.74   65.34   55.44
Pop                   0.99    8.91    9.90    7.92    0.00
R&B/Soul              7.92    8.91    6.93    9.90    6.93
Reggae                5.94    6.93    7.92    5.94    2.97
Rock                178.20  155.43  156.42  162.36  174.24
Rock And Roll         0.99    1.98    0.99    1.98    0.00
Sci Fi & Fantasy      0.00    9.95   17.91   11.94    0.00
Science Fiction       0.00    3.98    3.98    1.99    1.99
Soundtrack            3.96    3.96    4.95    3.96    2.97
TV Shows              0.00   25.87   27.86   25.87   13.93
World                 2.97    2.97    0.99    2.97    2.97