In [17]:
%load_ext sql
%sql postgresql://postgres:postgres@localhost:5433/chinook
%config SqlMagic.displaylimit = 5

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5433/chinook'

### Find the top 5 customers by total amount spent. Show their full name (first and last), country, and total amount spent. Order by total spent descending.

In [18]:
%%sql
SELECT
    ANY_VALUE(c.first_name) as first_name,
    ANY_VALUE(c.last_name) as last_name,
    ANY_VALUE(c.country) as country,
    ROUND(SUM(i.total), 2) AS total_sales
FROM customer AS c
JOIN invoice AS i
    ON c.customer_id = i.customer_id
GROUP BY c.customer_id
ORDER BY total_sales DESC
LIMIT 5

Running query in 'postgresql://postgres:***@localhost:5433/chinook'

5 rows affected.

+------------+------------+----------------+-------------+
| first_name | last_name  |    country     | total_sales |
+------------+------------+----------------+-------------+
|   Helena   |    Holý    | Czech Republic |    49.62    |
|  Richard   | Cunningham |      USA       |    47.62    |
|    Luis    |   Rojas    |     Chile      |    46.62    |
|    Hugh    |  O'Reilly  |    Ireland     |    45.62    |
|  Ladislav  |   Kovács   |    Hungary     |    45.62    |
+------------+------------+----------------+-------------+
Truncated to displaylimit of 5.

### Find all tracks that are longer than the average track length in their genre. Show the track name, genre name, track length (in minutes), and the average length for that genre (in minutes). Order by genre and then by track length descending.

In [19]:
%%sql
WITH average_track_lengths_per_genre AS (
    SELECT
        genre_id,
        AVG(milliseconds) / 60000 AS average_track_length
    FROM track
    GROUP BY genre_id
), track_min AS (
    SELECT
        t.*,
        g.name AS genre_name,
        (t.milliseconds / 60000) AS track_length_min
    FROM track AS t
    JOIN genre AS g
        ON t.genre_id = g.genre_id
)
SELECT
    t.name AS track_name,
    t.genre_name AS genre_name,
    t.track_length_min AS track_length_min,
    atl.average_track_length AS genre_average_track_length_min
FROM track_min AS t
JOIN average_track_lengths_per_genre AS atl
    ON t.genre_id = atl.genre_id
WHERE t.track_length_min > atl.average_track_length
ORDER BY t.track_length_min DESC, t.genre_name DESC

Running query in 'postgresql://postgres:***@localhost:5433/chinook'

1241 rows affected.

+-----------------------------+------------------+------------------+--------------------------------+
|          track_name         |    genre_name    | track_length_min | genre_average_track_length_min |
+-----------------------------+------------------+------------------+--------------------------------+
|    Occupation / Precipice   |     TV Shows     |        88        |      35.7506836917562724       |
|   Through a Looking Glass   |      Drama       |        84        |      42.9213963541666667       |
| Greetings from Earth, Pt. 1 | Sci Fi & Fantasy |        49        |      48.5297173076923077       |
| Battlestar Galactica, Pt. 2 | Sci Fi & Fantasy |        49        |      48.5297173076923077       |
| Battlestar Galactica, Pt. 1 | Sci Fi & Fantasy |        49        |      48.5297173076923077       |
+-----------------------------+------------------+------------------+--------------------------------+
Truncated to displaylimit of 5.